
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding:0;
  margin:0;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
canvas {
  padding:0;
  margin:0;
}
div.btnbg {
  position:fixed;
  left:0;
  top:0;
}

#no-gradient {
  background: none;
}

a{
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity)) !important;
}

a:link{
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity)) !important;
}

:root {
  --white-color: #fff;
  --microcopy: #C2D1D6;
  --third: #6F7597;
}

.container {
  margin: 0;
  display: flex;
  text-align: center;
}

h1 {
  font-weight: 800 !important;
  color: var(--white-color) !important;
}

h2 {
  font-weight: 800;
  color: var(--white-color) !important;
}

h3, h4 {
  font-weight: 700;
  color: var(--microcopy) !important;
}

h5 {
  font-weight: 500 !important;
  color: var(--microcopy) !important;
}

.img-cover {
  object-fit: fill;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #FABC62;
} 

.nav img {
  margin-left: 100px;
}

.span {
  padding: 10px 14px;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: #817F84;
  border-radius: 50%;
}

.circle-selected {
  height: 15px;
  width: 43px;
  background-color: #E4423D;
  border-radius: 30px;
}

.buttons {
  max-width: 400px;
  color: rgba(255, 255, 255, 0.65);
}

.pagination {
  max-width: 100px;
  color: rgba(255, 255, 255, 0.65);
}


.blur {
  width: 95%;
  height: 95vh;
  backdrop-filter: blur(9px);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 1rem;
}

.btn-main {
  color: white;
  font-size: 1rem;
  width: 200px;
  padding: 8px 80px;
  background: #E4423D;
  box-shadow: 0px 4px 16px #8A0E0A;
  border-radius: 8px;
}

.buttons {
  font-weight: 500;
}

.row {
}

