* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-image: url(images/sunset.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
canvas {
  padding: 0;
  margin: 0;
}
div.btnbg {
  position: fixed;
  left: 0;
  top: 0;
}

#no-gradient {
  background: none;
}

.microcopy {
  font-size: 1rem;
  font-weight: 700;
  color: #82a0aa;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.step-name {
  font-weight: bold;
  color: #edeeff;
}

.input-half {
  color: #fff !important;
  font-size: 1rem;
}

.input-group-text {
  background-color: #2a272a !important;
  color: white !important;
  border: none !important;
}

.form-control {
  background-color: #2a272a !important;
  border: none !important;
  box-shadow: none;
  color: #fff !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1; /* Firefox */
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

a {
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity)) !important;
}

a:link {
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity)) !important;
}

:root {
  --white-color: #fff;
  --microcopy: #c2d1d6;
  --third: #6f7597;
}

.container {
  height: inherit !important;
}

h1 {
  font-weight: 800 !important;
  color: var(--white-color) !important;
}

h2 {
  font-weight: 800 !important;
  color: var(--white-color) !important;
}

h3,
h4 {
  font-weight: 700;
  color: var(--microcopy) !important;
}

h5 {
  font-weight: 500 !important;
  color: var(--microcopy) !important;
}

h6 {
  font-weight: 700 !important;
  color: #6f7597 !important;
}

.img-cover {
  object-fit: fill;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #fabc62;
}

.nav img {
  margin-top: 1%;
  margin-left: 10%;
}

.span {
  padding: 10px 14px;
}

.checkbox {
  max-width: 530px;
  text-align: left;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: #817f84;
  border-radius: 50%;
}

.circle-ended {
  height: 15px;
  width: 15px;
  background-color: #e4423d;
  border-radius: 50%;
}

.circle-selected {
  height: 15px;
  width: 43px;
  background-color: #e4423d;
  border-radius: 30px;
}

.buttons {
  max-width: 400px;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: center;
}

.pagination {
  color: rgba(255, 255, 255, 0.65);
  gap: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.blur {
  width: 95%;
  height: 95vh;
  backdrop-filter: blur(16px);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.blur-landing {
  width: 40%;
  height: 95vh;
  backdrop-filter: blur(9px);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.btn-main-half {
  color: white;
  font-size: 1rem;
  width: 200px;
  margin-left: 40px;
  padding: 8px 80px;
  background: #e4423d;
  box-shadow: 0px 4px 16px #8a0e0a;
  border-radius: 8px;
}

.btn-main {
  color: white;
  font-size: 1rem;
  padding: 8px 80px;
  background: #e4423d;
  box-shadow: 0px 4px 16px #8a0e0a;
  border-radius: 8px;
}

.buttons {
  font-weight: 500;
}
